---
import Layout from '../layouts/Layout.astro';
import TopSection from '../components/TopSection.astro';	
import ProjectSection from '../components/ProjectSection.astro';
import SectionContainer from '../components/SectionContainer.astro';
import ProjectsIcon from "../components/ProjectsIcon.astro";
import JobIcon from '../components/JobIcon.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import HeaderSection from '../components/HeaderSection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout class="relative">
	<!-- <SectionContainer>
		<HeaderSection />
	</SectionContainer> -->
	<SectionContainer class="my-8" id="acercaDe">
		<TopSection />
	</SectionContainer>
	<SectionContainer class="my-8 flex flex-col" id="experiencia">
		<h2 class="text-2xl text-white font-bold flex items-center gap-2 mb-5">
			<JobIcon class="size-8" />
			Experiencia y Formación
		</h2>
		<ExperienceSection />
	</SectionContainer>
	<SectionContainer class="my-8" id="proyectos">
		<h2 class="text-2xl text-white font-bold flex items-center gap-2">
			<ProjectsIcon class="size-8" />
			Proyectos
		</h2>
		<ProjectSection />
	</SectionContainer>
	<ContactSection />
</Layout>
