<footer class="flex justify-around w-full mx-auto m-4 xl:w-[1000px] mb-8">
  <p class="text-yellow-200/70">© Hecho con ❤️ por Ivo Pascal</p>
  <p>Cipolletti, Río Negro, Argentina</p>
  <p>+54 299 413-7609</p>
</footer>