<header class="py-10 font-bold text-gray-200/60">
  <nav class="flex flex-row gap-5 justify-around items-center ">
    <a href="#acercaDe" class="hover:text-yellow-200/80 hover:-translate-y-0.5 transition-all">Acerca de</a>
    <a href="#experiencia" class="hover:text-yellow-200/80 hover:-translate-y-0.5 transition-all">Experiencia</a>
    <a href="#proyectos" class="hover:text-yellow-200/80 hover:-translate-y-0.5 transition-all">Proyectos</a>
    <a href="#contacto" class="hover:text-yellow-200/80 hover:-translate-y-0.5 transition-all">Contacto</a>
  </nav>
</header>